@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Montserrat:ital,wght@0,500;1,400&display=swap');
body{
    background-color: #FAF8EF;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    text-align: center;
}
h1{
    color: #776E65;
    font-size: 80px;
    font-weight: bolder;
}
hr{
    width: 500px;
}
.board{
    width: 400px;
    height: 400px;

    background-color: #BBADA0;
    border-radius: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}
.tile{
    width: 90px;
    height: 90px;
    border: 5px solid #BBADA0;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10PX;
    transition-duration: 0.7s;
}
.x{
    background-color: #CDC1B4;
}
.x2{
    border-radius: 15px;
    background-color: #EEE4D9;
    color: #776E65;
}
.x4{
    border-radius: 15px;
    background-color: #EEE1C9;
    color: #776E65;
}
.x8{
    border-radius: 15px;
    background-color: #F3B27A;
    color: white;
}
.x16{
    border-radius: 15px;
    background-color: #F69764;
    color: white;
}
.x32{
    border-radius: 15px;
    background-color: #F77C5F;
    color: white;
}
.x64{
    border-radius: 15px;
    background-color: #F75F3B;
    color: white;
}
.x128{
    border-radius: 15px;
    background-color: #f3cd7a;
    color: white;
}
.x256{
    border-radius: 15px;
    background-color: #EDCC62;
    color: white;
}
.x512{
    border-radius: 15px;
    background-color: #EDC950;
    color: white;
}
.x1024{
    border-radius: 15px;
    background-color: #EDC53F;
    color: white;
}
.x2048{
    border-radius: 15px;
    background-color: rgba(255, 255, 0, 0.532);
    color: white;
}